*.cm*
*.o
acm
acu
rct
rhp
stats
test
graphviz/t4.*
graphviz/t9.*
graphviz/t11.*
graphviz/t20.*
plots/t4*
plots/t5*
plots/test*
plots/*-cut*
statresults/stats1.txt
statresults/others
statresults/.~*
statresults/torus-unif-reg.csv
